<!doctype html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/yeti/bootstrap.css" type="text/css" />


</head>

<body ng-app='appLearn'>
    <div class="container" ng-controller="MissatgesController">
        <h1>Darrers Missatges</h1>
        <div class="row">
            <form role="form" class="form-inline">
                <div class="form-group">
                    <input ng-model="missatgeBody" class="form-control" placeholder="Introdueix nou missatge" />
                    <button class="btn btn-success" ng-click="afegirMissatge()">Afegir Missatge</button>
                </div>
            </form>
            <br>
        </div>
        <div class="row">
            <form role="form">
                <div class="form-group col-sm-3">
                    <div class="input-group">
                        <input type="text" ng-model="cerca" class="form-control" placeholder="Buscar...">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <div class="input-group">
                        <select ng-model="ordre" class="form-control">
                            <option value="">Ordenar per...</option>
                            <option value="+body">Missatge Ascendent</option>
                            <option value="-body">Missatge Descendent</option>
                            <option value="+username">Usuari Ascendent</option>
                            <option value="-username">Usuari Descendent</option>
                        </select>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-sort"></span></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="missatge in missatges | filter:cerca | orderBy:ordre">
                    <strong>{{missatge.username}}</strong>
                    <p>{{missatge.body}}</p>
                    <blockquote ng-repeat="review in missatge.reviews">
                        <small><cite> {{review.createdOn|date}}</cite> - {{review.body}}</small>
                    </blockquote>

                    <!-- Reviews -->
                    <form ng-controller="ReviewController" name="reviewForm" 
                         ng-submit="reviewForm.$valid && afegirComentari()" novalidate>
                        <!-- Vista del comentari en viu -->
                        <blockquote ng-show="review.body">
                            <small>{{review.body}}</small>
                        </blockquote>
                        <!-- Formulari -->
                        <fieldset class="form-group">
                            <label for="" class="sr-only">Comentari:</label>
                            <input type="text" ng-model="review.body" class="form-control input-sm" 
                                  placeholder="Introdueix el teu comentari" required/>
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm" value="Enviar" />
                        </fieldset>
                    </form>
                    <!-- Reviews -->
                </li>
            </ul>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>

    <script>
        var app = angular.module('appLearn', []);

        //MissatgesController
        app.controller('MissatgesController', function($scope) {
            $scope.missatges = [{
                username: 'xavigimenez.cat',
                body: 'Angular mola',
                reviews: [{
                    body: "Això és una passada!",
                    createdOn: 1459462674603
                }]
            }, {
                username: 'iocasesnoves.cat',
                body: 'Aprenent Angular'
            }];

            $scope.afegirMissatge = function() {
                if ($scope.missatgeBody) {
                    $scope.missatges.unshift({
                        username: "jofrecasevella.cat",
                        body: $scope.missatgeBody
                    });
                }
                $scope.missatgeBody = null;
            };
        });

        //ReviewController
        app.controller("ReviewController", function($scope) {
            //Inicialitzem l'objecte review que contindrà les dades del comentari introduit al formulari.
            $scope.review = {};

            $scope.afegirComentari = function() {
                //Afegim la data actual al l'objecte review
                $scope.review.createdOn = Date.now();

                //Si el missatge no tenia cap comentari, hi afegim un array buit
                if (!($scope.missatge.reviews)) {
                    $scope.missatge.reviews = [];
                }
                //Afegim el nom comentaria al missatge corresponent
                $scope.missatge.reviews.push($scope.review);

                //Buidem l'objecte review i així també es neteja el formulari
                $scope.review = {};
            };

        });
    </script>
</body>

</html>